<%=  simple_form_for @transaction, :html => { :class => "form-horizontal transaction" } do |f| %>

  <% if @transaction.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @transaction.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :accounts_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
       <%= f.collection_select(:accounts_id, @accounts, :id, :conta,{:prompt=>true},{ :class => 'form-control', :required => true }) %>

    </div>
    <%=f.error_span(:accounts_id) %>
  </div>
  <div class="form-group">
    <%= f.label :valor, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.input :valor, as: :decimal, :input_html => { :class => 'form-control', :required => true} , label: false %>
    </div>
    <%=f.error_span(:valor) %>
  </div>
  <div class="form-group">
    <%= f.label :tipo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%=   f.input :tipo,  :as => :select,      :collection => ['Saque','Deposito','Estorno','Transferência'], :input_html => { :class => 'form-control', :required => true} , label: false %>
    </div>
    <%=f.error_span(:tipo) %>
  </div>
  <div class="form-group">
    <%= f.label :usuario_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
       <%= f.collection_select(:usuario_id, @usuarios, :id, :email,{:prompt=>true},{ :class => 'form-control', :required => true }) %>
    </div>
    <%=f.error_span(:usuario_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                transactions_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
